.checkbox-container {
  --checkmark-size: 1rem;
  --checkbox-font-size: 1rem;
  --checkbox-border-radius: calc(var(--checkmark-size) / 3.5);

  height: fit-content;
  padding-left: calc(var(--checkmark-size) * 2);
  margin-bottom: 12px;

  display: block;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-tap-highlight-color: transparent; /* disable mobile touch effect */
  user-select: none;
}

.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  width: var(--checkmark-size);
  height: var(--checkmark-size);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);

  background-color: white;

  outline: 0.8px solid var(--main-color);
  border-radius: var(--checkbox-border-radius);
  border: 3px solid white;
}

.checkbox-container input:checked ~ .checkmark {
  background-color: var(--main-color);
}

.checkbox-text {
  font-size: var(--checkbox-font-size);
  color: var(--checkbox-text-color);
  line-height: calc(var(--checkbox-font-size) * 1.2);
}

@media (pointer: fine) {
  .checkbox-container:hover input ~ .checkmark {
    background-color: var(--main-color);
  }
}
