.checkbox-container {
  height: fit-content;
  padding-left: 30px;
  margin-bottom: 12px;

  display: block;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-tap-highlight-color: transparent; /* disable mobile touch effect */
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  --checkbox-border-radius: calc(var(--object-size) / 3.57142857143);

  width: var(--object-size);
  height: var(--object-size);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);

  background-color: white;

  outline: 0.8px solid var(--main-color);
  border-radius: var(--checkbox-border-radius);
  border: 3px solid white;
}

.checkbox-container input:checked ~ .checkmark {
  background-color: var(--main-color);
}

@media (pointer: fine) {
  .checkbox-container:hover input ~ .checkmark {
    background-color: var(--main-color);
  }
}
