.ask-form-wrapper {
  position: relative;
}

.img-wrapper {
  width: 100%;
  background-image: url(../../images/form-image.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (max-width: 767px) {
  .img-wrapper {
    padding-top: 70%;
    margin: 6vw 0;
  }
}

@media screen and (min-width: 768px) {
  .img-wrapper {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
}
