@import url(./custom-checkbox.css);

.input-form {
  --input-border-color: #cccccc;
  --input-text-color: #c2c2c2;
  --checkbox-text-color: #a3a3a3;
  --textarea-height: 120px;

  font-size: var(--sub-font-size);
}

.input-data {
  width: 100%;
  padding: 15px;
  margin-bottom: 2.5%;

  color: var(--input-text-color);
  border: 0.8px solid var(--input-border-color);
  border-radius: var(--border-radius);
  box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.07);
  font-family: inherit;
}

textarea.input-data {
  margin-bottom: 4%;
}

.input-data::placeholder {
  color: inherit;
}

.input-form > textarea {
  height: var(--textarea-height);
  resize: none;
}

.submit-wrapper {
  display: flex;
  justify-content: space-between;
}

.checkbox-container {
  --checkmark-size: 12px;
  --checkbox-font-size: 8px;
}

@media screen and (min-width: 768px) {
  .input-form {
    --margin-top: 20px;
  }
  .checkbox-container {
    --checkbox-font-size: 10px;
  }
}

@media screen and (min-width: 1024px) {
  .checkbox-container {
    --checkmark-size: 14px;
  }

  .submit-wrapper {
    flex-direction: column;
  }

  .submit-wrapper > .checkbox-container + .btn {
    margin-top: 2%;
  }
}

@media screen and (min-width: 1336px) {
  .checkbox-container {
    --checkmark-size: 18px;
    --checkbox-font-size: 14px;
  }
}

@media screen and (min-width: 1920px) {
  .checkbox-container {
    --checkmark-size: 26px;
    --checkbox-font-size: 20px;
  }
}
