.menu-list {
  display: none;
}

.list-arrow {
  visibility: hidden;
}

@media screen and (min-width: 1024px) {
  .menu-list {
    --menu-list-font-size: 15px;

    padding: 1.5vw 3vw 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    color: var(--text-color);
    font-size: var(--menu-list-font-size);
    font-weight: 700;
    text-transform: uppercase;
  }

  .menu-list > li:nth-child(1):hover .list-arrow,
  .menu-list > li:nth-child(2):hover .list-arrow {
    visibility: visible;
    height: 100%;

    background-image: url(../../icons/list-arrow.png);
    background-repeat: no-repeat;
    background-size: var(--menu-list-font-size);
    background-position: center;

    position: absolute;
    left: 90%;
    right: -30%;
  }

  .menu-list > li {
    position: relative;
  }
  .menu-list a {
    padding: 0.2rem 0.5rem;
  }
  .menu-list a:focus {
    outline: 2px solid var(--main-color);
    border-radius: var(--border-radius);
  }

  .list-search-icon {
    width: calc(var(--menu-list-font-size) / 0.75);
  }
}

@media screen and (min-width: 1336px) {
  .menu-list {
    --menu-list-font-size: 18px;
  }
}

@media screen and (min-width: 1920px) {
  .menu-list {
    --menu-list-font-size: 26px;
  }
}
