.menu-list {
  display: none;
}

@media screen and (min-width: 1024px) {
  .menu-list {
    --object-font-size: 14.8px;

    padding: 0.5vw 1.5vw;

    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: var(--object-font-size);
    font-weight: 700;
    text-transform: uppercase;
  }
  .list-arrow-icon {
    height: calc(var(--object-font-size) * 0.7);
    padding-left: 0.5vw;
    vertical-align: middle;
  }
  .list-search-icon {
    --object-size: 19.74px;

    width: var(--object-size);
    height: var(--object-size);
  }
}

@media screen and (min-width: 1336px) {
  .menu-list {
    --object-font-size: 18px;
  }
  .list-search-icon {
    --object-size: 24px;
  }
}

@media screen and (min-width: 1336px) {
  .menu-list {
    --object-font-size: 25.58px;
  }
  .list-search-icon {
    --object-size: 34.11px;
  }
}
