.hide-card {
  display: none;
}

.review-card {
  --card-padding: calc(var(--review-font-size) * 1.5);
  --rating-color: #f2df33;
  --review-text-color: #696969;

  padding: var(--card-padding);
  margin: auto;
  box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  border-radius: var(--border-radius);
}

.rating {
  padding-bottom: var(--card-padding);
  color: var(--rating-color);
  font-size: calc(var(--review-font-size) * 1.2);
  letter-spacing: 2px;
}

.review-card-text {
  color: var(--review-text-color);
  font-size: var(--review-font-size);
  line-height: calc(var(--review-font-size) * var(--line-height-ratio));
}

.user-info-container {
  padding-top: calc(var(--card-padding) / 2);
  display: inline-block;
  vertical-align: middle;
}

.user-avatar {
  --object-size: calc(var(--review-font-size) / 0.36);

  width: var(--object-size);
  height: var(--object-size);
  display: inline-block;

  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}

.user-data {
  padding-left: calc(var(--card-padding) / 2);
  display: inline-block;
  vertical-align: middle;
}

.user-name {
  color: var(--text-color);
  font-family: "Trajan Pro 3", serif;
  font-size: var(--review-font-size);
}

.user-job {
  padding-top: calc(var(--card-padding) / 3);
  color: var(--main-color);
  font-size: calc(var(--review-font-size) / 1.46);
  font-weight: 600;
}

@media screen and (min-width: 768px) {
  .hide-card {
    display: block;
  }

  .review-card {
    flex-basis: 48%;
  }
}
