.ask-form {
  --border-color: #c4c4c4;
  padding-top: 1vw;
}
.title-heading {
  text-align: left;
}
.menu-list,
.call-btn {
  display: none;
}
.text-form {
  --text-font-size: 12.83px;
  font-size: var(--text-font-size);
  letter-spacing: 0.5px;
  line-height: 1.2;
}
.img-wrapper {
  text-align: center;
}
.img-form {
  --img-current-size: 260;
  --img-goal-size: 320;
  --img-size: calc(
    (var(--img-current-size) * 1px) + (var(--img-goal-size) - var(--img-current-size)) * ((100vw - var(--min-width)) / var(--resolution-change))
  );

  width: var(--img-size);
  height: var(--img-size);

  object-fit: cover;
  object-position: bottom;
}

.input-form {
  --margin-top: 40px;
  --input-border-color: #cccccc;
  --input-text-color: #c2c2c2;
  --checkbox-text-color: #a3a3a3;
  width: 100%;

  margin-top: var(--margin-top);
}
.input-font-size {
  --input-font-size: 11.23px;
  font-size: var(--input-font-size);
}
.input-data {
  width: 100%;
  padding: 10px;
  margin-bottom: 4%;

  color: var(--input-text-color);
  border: 0.8px solid var(--input-border-color);
  border-radius: var(--border-radius);
  box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.07);

  font-family: inherit;
}
.input-data::placeholder {
  color: inherit;
}

.input-form > textarea {
  height: 120px;
  resize: none;
}

.submit-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.checkmark {
  --checkmark-size: 15px;
}
.checkbox-text {
  color: var(--checkbox-text-color);
  line-height: 1.2;
}

@media screen and (min-width: 768px) {
  .margin-right-form {
    margin-left: auto;
  }
  .padding-top-form {
    padding-top: 6vw;
  }

  .title-wrapper {
    display: flex;
    justify-content: space-between;
    position: relative;
  }

  .img-form {
    --img-current-size: 320;
    --img-goal-size: 374;

    position: absolute;
    top: 18vw;
  }

  .call-btn {
    --call-btn-size: 55.33px;
    --call-btn-font-size: 6.41px;

    min-width: var(--call-btn-size);
    height: var(--call-btn-size);
    display: block;

    color: white;
    background-color: var(--main-color);
    border: 3px solid white;
    border-radius: 50%;
    box-shadow: 0px 2px 10px 5px rgba(0, 0, 0, 0.15);

    font-size: var(--call-btn-font-size);
    font-family: inherit;
    font-weight: 600;
    white-space: nowrap;
    line-height: calc(var(--call-btn-size) * 1.3);

    position: relative;
  }
  .call-btn::after {
    --image-size: 26.46px;

    content: "";
    background-image: url(../icons/call.png);
    background-repeat: no-repeat;
    background-size: var(--image-size);
    position: absolute;
    top: 10%;
    bottom: 0;
    right: 0;
    left: 25%;
  }

  .ask-form {
    margin-top: 0.5vw;
    border-top: 1px solid var(--border-color);
  }

  .input-form {
    --margin-top: 20px;
  }

  .title-heading,
  .input-form {
    float: right;
  }
  .img-wrapper {
    float: left;
  }
}

@media screen and (min-width: 1024px) {
  .menu-list {
    --menu-list-current-font-size: 14.8;
    --menu-list-font-ratio: calc(var(--menu-list-current-font-size) / var(--title-header-current-font-size));
    --menu-list-font-size: calc(var(--title-header-font-size) * var(--menu-list-font-ratio));

    padding: 0 1.5vw;

    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: var(--menu-list-font-size);
    font-weight: 700;
    text-transform: uppercase;
  }
  .list-arrow-icon {
    height: calc(var(--menu-list-font-size) * 0.7);
    padding-left: 0.5vw;
    vertical-align: middle;
  }
  .list-search-icon {
    --search-icon-current-size: 19.74;
    --search-icon-ratio: calc(var(--search-icon-current-size) / var(--title-header-current-font-size));
    --search-icon-size: calc(var(--title-header-font-size) * var(--search-icon-ratio));

    width: var(--search-icon-size);
    height: var(--search-icon-size);
  }

  .img-form {
    --img-current-size: 374;
    --img-goal-size: 467;
  }
  .text-form {
    --text-current-font-size: 12.83;
    --text-font-ratio: calc(var(--text-current-font-size) / var(--title-header-current-font-size));
    --text-font-size: calc(var(--title-header-font-size) * var(--text-font-ratio));

    width: 90%;
  }
  .input-font-size {
    --input-current-font-size: 11.23;
    --input-font-ratio: calc(var(--input-current-font-size) / var(--title-header-current-font-size));
    --input-font-size: calc(var(--title-header-font-size) * var(--input-font-ratio));
  }
  .call-btn {
    --call-btn-current-size: 55.33;
    --call-btn-ratio: calc(var(--call-btn-current-size) / var(--title-header-current-font-size));
    --call-btn-size: calc(var(--title-header-font-size) * var(--call-btn-ratio));

    --call-btn-current-font-size: 6.41;
    --call-btn-font-ratio: calc(var(--call-btn-current-font-size) / var(--title-header-current-font-size));
    --call-btn-font-size: calc(var(--title-header-font-size) * var(--call-btn-font-ratio));

    position: absolute;
    right: 0;
    top: 90%;
  }
  .call-btn::after {
    --image-current-size: 26.46;
    --image-ratio: calc(var(--image-current-size) / var(--title-header-current-font-size));
    --image-size: calc(var(--title-header-font-size) * var(--image-ratio));
  }
}

@media screen and (min-width: 1336px) {
  .menu-list {
    --menu-list-current-font-size: 18;
  }
  .list-search-icon {
    --search-icon-current-size: 24;
  }
  .img-form {
    --img-current-size: 467;
    --img-goal-size: 663;
  }
  .text-form {
    --text-current-font-size: 16;
  }
  .input-font-size {
    --input-current-font-size: 14;
  }
  .call-btn {
    --call-btn-current-size: 69;
    --call-btn-current-font-size: 8;
  }
  .call-btn::after {
    --image-current-size: 33;
  }
}
