@import url(./form-screen/image-form.css);
@import url(./form-screen/menu-list.css);
@import url(./form-screen/call-btn.css);
@import url(./form-screen/input-form.css);

.ask-form {
  --border-color: #c4c4c4;
  /* padding-top: 1vw; */
}

.ask-form .title-heading {
  text-align: left;
}

@media screen and (min-width: 768px) {
  .margin-right-form {
    margin-left: auto;
  }
  /* .padding-top-form {
    padding-top: 6vw;
  } */

  .title-wrapper {
    display: flex;
    justify-content: space-between;
    position: relative;
  }
  .ask-form .text-content {
    margin-bottom: 6%;
  }

  .ask-form {
    margin-top: 0.5vw;
    border-top: 1px solid var(--border-color);
  }

}

@media screen and (min-width: 1024px) {
  .ask-form .text-content {
    width: 90%;
  }

}
