.company-benefits .text-content {
  text-align: center;
}

.benefits-cards-wrapper {
  padding-top: 3vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.benefit-card {
  --object-current-size: 245;
  --object-goal-size: 245;

  --object-current-size-height: 142;
  --object-goal-size-height: 142;
  --object-size-height: calc(
    (var(--object-current-size-height) * 1px) + (var(--object-goal-size-height) - var(--object-current-size-height)) *
      ((100vw - var(--min-width)) / var(--resolution-change))
  );

  --benefit-header-color: #696969;
  --benefit-text-color: #9d9d9d;
  --benefit-border-color: #c2c1c2;

  --benefit-spaces: 10px;

  width: var(--object-size);
  height: var(--object-size-height);
  padding: var(--benefit-spaces);
  margin: 2vw;

  border: 0.69px solid var(--benefit-border-color);
  border-radius: var(--border-radius);
}

.benefit-header-container {
  height: var(--benefit-logo-size);
  display: table;
  margin-bottom: var(--benefit-spaces);
}

.benefit-card-logo {
  --object-current-size: 50;
  --object-goal-size: 50;

  width: calc(var(--object-size) / 1.3);
  height: var(--object-size);
  object-fit: cover;
  object-position: center;
}

.benefit-card-header {
  --object-current-font-size: 11.1;
  --object-goal-font-size: 11.1;

  display: table-cell;

  color: var(--benefit-header-color);
  font-size: var(--object-font-size);
  font-weight: 600;
  line-height: calc(var(--object-font-size) * 1.5);
}
.benefit-card-header::first-letter {
  text-transform: uppercase;
}

.benefit-card-desc {
  --object-current-font-size: 9.71;
  --object-goal-font-size: 9.71;

  width: 90%;
  color: var(--benefit-text-color);
  font-size: var(--object-font-size);
  line-height: calc(var(--object-font-size) * 1.15);
}

@media screen and (min-width: 1024px) {
  .benefit-card {
    --object-current-size: 187.3;
    --object-goal-size: 270;

    --object-current-size-height: 158.16;
    --object-goal-size-height: 228;

    margin: 1vw;
  }
  .benefit-card-logo {
    --object-current-size: 50;
    --object-goal-size: 70;
  }
  .benefit-card-header {
    --object-current-font-size: 11.1;
    --object-goal-font-size: 16;
  }
  .benefit-card-desc {
    --object-current-font-size: 9.71;
    --object-goal-font-size: 14;
  }
}

@media screen and (min-width: 1336px) {
  .benefit-card {
    --object-current-size: 270;
    --object-goal-size: 383.77;

    --object-current-size-height: 228;
    --object-goal-size-height: 328.08;

    --benefit-spaces: 15px;
  }
  .benefit-card-logo {
    --object-current-size: 70;
    --object-goal-size: 90;
  }
  .benefit-card-header {
    --object-current-font-size: 16;
    --object-goal-font-size: 22.74;
  }
  .benefit-card-desc {
    --object-current-font-size: 14;
    --object-goal-font-size: 19.9;
  }
}

@media screen and (min-width: 1920px) {
  .benefit-card {
    --benefit-spaces: 20px;
  }
}
