@import url(./review-objects/review-card.css);
@import url(./card-control-objects/card-navigation-buttons.css);
@import url(./card-control-objects/card-navigation.css);

.reviews-card-container {
  padding-top: 3vw;
}

.review-card-wrapper {
  display: flex;
  justify-content: space-between;
}

.reviews-card-container .card-navigation {
  --btn-nav-size: 2rem;
}
.reviews-card-container .card-navigation::before,
.reviews-card-container .card-navigation::after {
  content: "\27F6";
  background-color: white;
  color: var(--main-color);
  box-shadow: none;
  border: 1px solid var(--main-color);
  line-height: calc(var(--btn-nav-size) * 0.9);
}
.reviews-card-container .card-navigation::before {
  content: "\27F5";
}

.reviews-card-container .card-navigation:hover::before,
.reviews-card-container .card-navigation:hover::after {
  background-color: var(--main-color);
  color: white;
}

@media screen and (min-width: 768px) {
  .reviews-card-container {
    position: relative;
  }
  .reviews-card-container .card-navigation {
    margin-top: 2vw;
    position: initial;
  }
  .reviews-card-container .card-navigation::before,
  .reviews-card-container .card-navigation::after {
    top: 45%;
    left: 97%;
  }
  .reviews-card-container .card-navigation::before {
    left: 0%;
  }
}
