.page-header {
  --header-elements-size: 70px;
  --main-heading-font-size: 18px;

  margin-top: 0.5vw;
  padding: 0 4vw;

  display: flex;
  justify-content: space-between;
  align-items: center;

  border-radius: var(--border-radius);
  background-color: var(--main-color);
  color: white;
}

.header-wrapper {
  display: none;
}

.main-heading {
  height: var(--header-elements-size);
  line-height: var(--header-elements-size);
  font-size: var(--main-heading-font-size);
  font-weight: 700;
}
.main-heading::first-letter {
  text-transform: uppercase;
}

.menu-btn > img {
  width: var(--header-elements-size);
  height: var(--header-elements-size);
}

@media screen and (min-width: 768px) {
  .page-header {
    --header-elements-size: 8vw;
    --main-heading-font-size: 27px;
  }
}

@media screen and (min-width: 1024px) {
  .page-header {
    --number-font-size: 18px;
    --number-desc-font-size: 12px;
    --contact-font-size: 12px;
    --auth-font-size: 9px;
  }

  .header-wrapper {
    width: 48vw;
    height: var(--header-elements-size);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .menu-btn {
    display: none;
  }

  .contact-number {
    position: relative;
  }

  .contact-number p:first-child::before {
    content: "";
    width: var(--number-font-size);
    height: var(--number-font-size);

    background-image: url(../icons/header-phone-icon.png);
    background-size: calc(var(--number-font-size) * 0.75);
    background-repeat: no-repeat;
    background-position: center;

    position: absolute;
    left: -12%;
  }

  .contact-number p:first-child {
    margin-bottom: 4%;
    font-size: var(--number-font-size);
    font-weight: 700;
  }
  .contact-number p:last-child {
    text-align: end;
    font-size: var(--number-desc-font-size);
  }
  .contact-number p:last-child::first-letter {
    text-transform: uppercase;
  }

  .contact-me {
    padding: 1vw 2.5vw;

    border: 2px solid white;
    border-radius: var(--border-radius);
    background-color: inherit;
    color: inherit;
    font-family: inherit;
    font-size: var(--contact-font-size);
  }

  .auth img {
    margin: auto;
    display: block;
    width: 1.8vw;
  }

  .auth {
    padding-top: 5px;
    font-size: var(--auth-font-size);
    position: relative;
    vertical-align: bottom;
  }
}

@media screen and (min-width: 1336px) {
  .page-header {
    --main-heading-font-size: 32px;
    --number-font-size: 22px;
    --number-desc-font-size: 13px;
    --contact-font-size: 14px;
    --auth-font-size: 11px;
  }
  .header-wrapper {
    width: 45vw;
  }
}

@media screen and (min-width: 1500px) {
  .header-wrapper {
    width: 38vw;
  }
}

@media screen and (min-width: 1920px) {
  .page-header {
    --main-heading-font-size: 45px;
    --number-font-size: 31px;
    --contact-font-size: 20px;
    --auth-font-size: 19px;
  }
  .header-wrapper {
    width: 45vw;
  }
  .contact-number p:last-child {
    text-align: center;
  }
}
