.page-header {
  --header-elements-size: 10vw;

  margin-top: 2vw;
  padding: 0 3vw;

  display: flex;
  justify-content: space-between;
  align-items: center;

  border-radius: var(--border-radius);
  background-color: var(--main-color);
  color: white;
  white-space: nowrap;
}
.header-wrapper {
  display: none;
}

.main-heading {
  --object-current-font-size: 18;
  --object-goal-font-size: 27.17;

  height: var(--header-elements-size);
  line-height: var(--header-elements-size);
  font-weight: 700;
  font-size: var(--object-font-size);
}
.main-heading::first-letter {
  text-transform: uppercase;
}

.menu-btn {
  min-width: 64px;
  width: var(--header-elements-size);
  min-height: 64px;
  height: var(--header-elements-size);
}
.menu-btn > img {
  min-width: 64px;
  width: inherit;
  min-height: 64px;
  height: inherit;
}

@media screen and (min-width: 768px) {
  .main-heading {
    --object-current-font-size: 27.17;
    --object-goal-font-size: 27.17;
  }
}

@media screen and (min-width: 1024px) {
  .main-heading {
    --object-current-font-size: 27.17;
    --object-goal-font-size: 32;
  }

  .header-wrapper {
    width: 55vw;
    height: var(--header-elements-size);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .menu-btn {
    display: none;
  }

  .contact-number {
    position: relative;
  }

  .contact-number::before {
    content: "";
    background-image: url(../icons/phone.png);
    background-repeat: no-repeat;
    background-size: calc(var(--header-font-size) * 1.5);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: -8%;
  }

  .contact-number p:first-child {
    --object-current-font-size: 18.68;
    --object-goal-font-size: 22;

    margin-bottom: 4%;
    font-size: var(--object-font-size);
    font-weight: 700;
  }
  .contact-number p:last-child {
    --object-current-font-size: 11.89;
    --object-goal-font-size: 14;

    text-align: end;
    font-size: var(--object-font-size);
    font-weight: 600;
  }
  .contact-number p:last-child::first-letter {
    text-transform: uppercase;
  }

  .contact-me {
    --object-current-font-size: 11.89;
    --object-goal-font-size: 14;

    padding: 15px 35px;

    border: 2px solid white;
    border-radius: var(--border-radius);
    background-color: inherit;
    color: inherit;

    font-weight: 600;
    font-family: inherit;
    font-size: var(--object-font-size);
    text-transform: uppercase;
  }

  .auth img {
    margin: auto;
    display: block;
    width: 2vw;
  }

  .auth p {
    --object-current-font-size: 9.4;
    --object-goal-font-size: 11.08;

    padding-top: 5px;

    font-weight: 600;
    font-size: var(--object-font-size);
    text-transform: uppercase;
  }
}

@media screen and (min-width: 1336px) {
  .main-heading {
    --object-current-font-size: 32;
    --object-goal-font-size: 45.48;
  }
  .header-wrapper {
    width: 50vw;
  }
  .contact-number p:first-child {
    --object-current-font-size: 22;
    --object-goal-font-size: 31.27;
  }
  .contact-number p:last-child {
    --object-current-font-size: 14;
    --object-goal-font-size: 19.9;
  }
  .contact-me {
    --object-current-font-size: 14;
    --object-goal-font-size: 19.9;
  }
  .auth p {
    --object-current-font-size: 11.08;
    --object-goal-font-size: 19.35;
  }
}

@media screen and (min-width: 1500px) {
  .header-wrapper {
    width: 45vw;
  }
}
