.order-call-container {
  --object-size: 231px;

  width: 100%;
  height: var(--object-size);
  margin-top: 6vw;

  border-radius: var(--border-radius);
  background-image: url(../images/order-call.png);
  background-repeat: no-repeat;
  background-position: 60%;
  background-size: cover;

  position: relative;
}
.order-call-container::after {
  content: "";
  background-color: var(--main-color);

  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
  opacity: 60%;
  clip-path: polygon(0 0, 35% 0, 85% 100%, 0% 100%);
}

.order-call-inner-container {
  --object-size: 231px;
  --object-size-height: 134px;

  width: var(--object-size);
  height: var(--object-size-height);
  padding: 3%;
  padding-right: 0;
  padding-bottom: 0;

  background-color: white;
  border-radius: var(--border-radius);
  text-align: center;

  position: absolute;
  top: 80%;
  left: 0;
  right: 0;
  transform: translate(0, -80%);
  margin-left: auto;
  margin-right: auto;

  z-index: 2;
}

.order-call-inner-container > .title-heading {
  --object-font-size: 18px;

  margin: 0;
  padding: 0;
}
.order-call-inner-container > .text-content {
  --object-font-size: 11px;

  width: 80%;
  margin: 3.5% 0;
  text-align: left;
}
.order-call-inner-container > .btn {
  --object-font-size: 10px;

  --object-size: 4;
  padding: var(--object-size) calc(var(--object-size) * 10);
  margin-bottom: 3%;
}

@media screen and (min-width: 550px) {
  .order-call-inner-container {
    padding: 2%;
    padding-right: 0;
    padding-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .order-call-container {
    --object-size: 165px;
  }
  .order-call-container::after {
    clip-path: polygon(0 0, 25% 0, 55% 100%, 0% 100%);
  }
  .order-call-inner-container {
    --object-size: 340px;
    --object-size-height: 114px;

    top: 50%;
    left: 3%;
    transform: translate(0, -50%);
    margin-left: 0;
    margin-right: 0;

    text-align: left;
  }

  .order-call-inner-container > .text-content {
    margin: 3% 0;
  }
  .order-call-inner-container > .btn {
    --object-font-size: 11px;
    --object-size: 4.5px;
  }
}

@media screen and (min-width: 1024px) {
  .order-call-container {
    --object-size: 165px;
  }
  .order-call-inner-container {
    --object-size: 280px;
    --object-size-height: 125px;
  }
  .order-call-inner-container > .title-heading {
    --object-font-size: 18px;
  }
  .order-call-inner-container > .text-content {
    --object-font-size: 11px;
  }
  .order-call-inner-container > .btn {
    --object-font-size: 11px;
    --object-size: 5px;
  }
}

@media screen and (min-width: 1336px) {
  .order-call-container {
    --object-size: 200px;
  }
  .order-call-inner-container {
    --object-size: 309px;
    --object-size-height: 147px;
  }

  .order-call-inner-container > .title-heading {
    --object-font-size: 20px;
  }
  .order-call-inner-container > .text-content {
    --object-font-size: 13px;
  }
  .order-call-inner-container > .btn {
    --object-font-size: 13px;
    --object-size: 5.5px;
  }
}

@media screen and (min-width: 1920px) {
  .order-call-container {
    --object-size: 284px;
  }
  .order-call-inner-container {
    --object-size: 450px;
    --object-size-height: 213px;
  }

  .order-call-inner-container > .title-heading {
    --object-font-size: 28.43px;
  }
  .order-call-inner-container > .text-content {
    --object-font-size: 18.48px;
  }
  .order-call-inner-container > .btn {
    --object-font-size: 18.48px;
    --object-size: 10px;
  }
}
