.order-call-container {
  --order-call-height: 231px;
  --title-heading-font-size: 18px;
  --text-content-font-size: 11px;
  --btn-size: 10px;

  height: var(--order-call-height);
  margin-top: 6vw;

  border-radius: var(--border-radius);
  background-image: url(../images/order-call.png);
  background-repeat: no-repeat;
  background-position: 60%;
  background-size: cover;

  position: relative;
}
.order-call-container::after {
  content: "";
  background-color: var(--main-color);
  clip-path: polygon(0 0, 35% 0, 85% 100%, 0% 100%);
  opacity: 60%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

.order-call-inner-container {
  width: 70vw;
  height: 60%;
  margin: 0 auto;
  padding: 3.5vw;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-color: white;
  border-radius: calc(var(--border-radius) * 2);

  transform: translate(0, -80%);
  position: absolute;
  top: 80%;
  left: 0;
  right: 0;
  z-index: 2;
}

.order-call-inner-container > .title-heading {
  width: fit-content;
  padding: 0;
}

.order-call-inner-container > .btn {
  padding: 3.5% 25%;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .order-call-container {
    --order-call-height: 165px;
    --btn-size: 11px;
  }
  .order-call-container::after {
    clip-path: polygon(0 0, 25% 0, 55% 100%, 0% 100%);
  }

  .order-call-inner-container {
    width: fit-content;
    height: 70%;
    padding: 2vw;
    margin: 0;

    top: 50%;
    left: 3%;
    transform: translate(0, -50%);
  }

  .order-call-inner-container > .text-content {
    width: 25vw;
  }
  .order-call-inner-container > .btn {
    margin: 0;
  }
}

@media screen and (min-width: 1024px) {
  .order-call-container {
    --order-call-height: 165px;
  }
  .order-call-inner-container {
    height: 80%;
  }
  .order-call-inner-container > .text-content {
    width: 20vw;
  }
}

@media screen and (min-width: 1336px) {
  .order-call-container {
    --order-call-height: 200px;
    --title-heading-font-size: 20px;
    --text-content-font-size: 13px;
    --btn-size: 13px;
  }
}

@media screen and (min-width: 1920px) {
  .order-call-container {
    --order-call-height: 284px;
    --title-heading-font-size: 28px;
    --text-content-font-size: 18px;
    --btn-size: 18px;
  }
}
