:root {
  --main-color: #65c466;
  --border-radius: 5px;

  --title-header-current-font-size: 23;
  --title-header-goal-font-size: 23;
  --resolution-change: calc(768 - 320);
  --min-width: 320px;

  --title-header-font-size: calc(
    (var(--title-header-current-font-size) * 1px) + (var(--title-header-goal-font-size) - var(--title-header-current-font-size)) *
      ((100vw - var(--min-width)) / var(--resolution-change))
  );

  font-family: "Poppins", sans-serif;
  font-size: 13px;
}

.spaces {
  margin-left: 3vw;
  margin-right: 3vw;
}

.title-heading {
  margin-bottom: calc(var(--title-header-font-size) * 0.6);

  color: var(--main-color);
  font-family: "Cinzel", serif;
  font-size: var(--title-header-font-size);
  letter-spacing: 1px;
  line-height: calc(var(--title-header-font-size) * 1.3);
  text-align: center;
  text-transform: uppercase;
}

.text-content {
  --text-font-size: 12.83px;

  font-size: var(--text-font-size);
  letter-spacing: 0.5px;
  line-height: 1.2;
}

.btn {
  --btn-current-font-size: 7.74;
  --btn-font-ratio: calc(var(--btn-current-font-size) / var(--title-header-current-font-size));
  --btn-font-size: calc(var(--title-header-font-size) * var(--btn-font-ratio));

  --btn-padding-h-size: 10px;

  width: fit-content;
  height: fit-content;
  padding: var(--btn-padding-h-size) calc(var(--btn-padding-h-size) * 2);

  border: none;
  border-radius: var(--border-radius);
  color: white;
  background-color: var(--main-color);
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.17);

  font-size: var(--btn-font-size);
  font-family: inherit;
  font-weight: 600;
  vertical-align: top;
}

@media screen and (min-width: 768px) {
  :root {
    --title-header-current-font-size: 23;
    --title-header-goal-font-size: 28.06;
    --resolution-change: calc(1024 - 768);
    --min-width: 768px;
  }
  .btn {
    --btn-current-font-size: 9.6;
    --btn-current-padding-h: 10;
    --btn-padding-h-ratio: calc(var(--btn-current-padding-h) / var(--title-header-current-font-size));
    --btn-padding-h-size: calc(var(--title-header-font-size) * var(--btn-padding-h-ratio));
  }
}
@media screen and (min-width: 1024px) {
  :root {
    --title-header-current-font-size: 28.06;
    --title-header-goal-font-size: 35;
    --resolution-change: calc(1336 - 1024);
    --min-width: 1024px;
  }

  .text-content {
    --text-current-font-size: 12.83;
    --text-font-ratio: calc(var(--text-current-font-size) / var(--title-header-current-font-size));
    --text-font-size: calc(var(--title-header-font-size) * var(--text-font-ratio));
  }

  .btn {
    --btn-current-font-size: 11.23;
    --btn-current-padding-h: 11;
  }
}

@media screen and (min-width: 1336px) {
  :root {
    --title-header-current-font-size: 35;
    --title-header-goal-font-size: 49.75;
    --resolution-change: calc(1920 - 1336);
    --min-width: 1336px;
  }

  .spaces {
    margin-left: 5vw;
    margin-right: 5vw;
  }

  .text-content {
    --text-current-font-size: 16;
  }

  .btn {
    --btn-current-font-size: 14;
    --btn-current-padding-h: 13;
  }
}

@media screen and (min-width: 1920px) {
  :root {
    --title-header-font-size: 49.75px;
  }
}
