.card-view {
  --card-header-font-size: 18px;
  --card-text-font-size: 11px;

  padding-bottom: 50px;
  margin: auto;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.bg1 {
  background: linear-gradient(180deg, var(--text-color) -30%, rgba(65, 65, 65, 0) 120%),
    linear-gradient(360deg, var(--main-color) 0%, rgba(37, 137, 249, 0) 18%), url(../../images/card-1.jpg);
}
.bg2 {
  background: linear-gradient(180deg, var(--text-color) -50%, rgba(65, 65, 65, 0) 120%), linear-gradient(0deg, var(--main-color) 0%, rgba(37, 137, 249, 0) 25%),
    url(../../images/card-2.jpg);
}
.bg3 {
  background: linear-gradient(180deg, var(--text-color) -30%, rgba(65, 65, 65, 0) 120%),
    linear-gradient(360deg, var(--main-color) 0%, rgba(37, 137, 249, 0) 18%), url(../../images/card-3.jpg);
}

.card {
  flex: 0 0 32%;
  border-radius: calc(var(--border-radius) * 2);
  box-shadow: 0px 2px 30px 5px rgba(0, 0, 0, 0.2);

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  text-align: left;
}

.secondary-card {
  display: none;
}

.info-container {
  padding: 90% 3% 8%;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.card-header {
  font-size: var(--card-header-font-size);
  font-weight: 500;
  line-height: calc(var(--card-header-font-size) * 1.1);
}
.card-header::first-letter {
  text-transform: uppercase;
}

.card-desc {
  margin: 5% 0 10%;
  font-size: var(--card-text-font-size);
  line-height: calc(var(--card-text-font-size) * 1.2);
}

.card-more-details {
  font-size: var(--card-text-font-size);
  text-align: center;
}
.card-more-details::first-letter {
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .card-view {
    --card-header-font-size: 16px;
    --card-text-font-size: 10px;
  }
  .secondary-card {
    display: block;
    margin-top: 5%;
    flex-basis: 28%;
    align-self: stretch;
    position: relative;
  }

  .secondary-card .info-container {
    position: absolute;
    bottom: 0;
  }
}

@media screen and (min-width: 1024px) {
  .card-view {
    --card-header-font-size: 21px;
    --card-text-font-size: 13px;
  }
}

@media screen and (min-width: 1336px) {
  .card-view {
    --card-header-font-size: 26px;
    --card-text-font-size: 16px;
  }
}

@media screen and (min-width: 1920px) {
  .card-view {
    --card-header-font-size: 36px;
    --card-text-font-size: 23px;
  }
}
