.card-navigation {
  --btn-nav-size: 2.5rem;
  position: relative;
}

.card-navigation::before,
.card-navigation::after {
  content: "";
  width: var(--btn-nav-size);
  height: var(--btn-nav-size);

  background-image: url(../../icons/card-nav-btns/btn-right.png);
  background-repeat: no-repeat;
  background-size: var(--btn-nav-size);

  position: absolute;
  bottom: 0;
  top: 500%;
  right: 30%;
}
.card-navigation::before {
  content: "";
  background-image: url(../../icons/card-nav-btns/btn-left.png);
  left: 30%;
}

.card-navigation:hover::before,
.card-navigation:hover::after {
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
  background-image: url(../../icons/card-nav-btns/btn-right-selected.png);
}
.card-navigation:hover::before{
  background-image: url(../../icons/card-nav-btns/btn-left-selected.png);
}

@media screen and (min-width: 768px) {
  .card-navigation::before,
  .card-navigation::after {
    top: -20vw;
    left: 175%;
  }
  .card-navigation::before {
    left: -85%;
  }
}
