.card-navigation {
  --btn-nav-size: 2.5rem;
  position: relative;
}

.card-navigation::before,
.card-navigation::after {
  content: "\1433";
  width: var(--btn-nav-size);
  height: var(--btn-nav-size);

  color: white;
  background-color: var(--main-color);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
  border-radius: 50%;

  font-size: calc(var(--btn-nav-size) * 0.8);
  line-height: var(--btn-nav-size);
  text-align: center;

  position: absolute;
  bottom: 0;
  top: 500%;
  right: 30%;
}
.card-navigation::before {
  content: "\1438";
  left: 30%;
}

.card-navigation:hover::before,
.card-navigation:hover::after {
  cursor: pointer;
  background-color: white;
  color: var(--main-color);
}

@media screen and (min-width: 768px) {
  .card-navigation::before,
  .card-navigation::after {
    top: -20vw;
    left: 175%;
  }
  .card-navigation::before {
    left: -85%;
  }
}
