.footer-menu-list{
  text-align: center;
  
}
.footer-menu-list li {
  padding: 2vw 1vw;
  width: fit-content;
}

.sub-list {
  columns: 2;
}

@media screen and (min-width: 1024px) {
  .sub-list {
    display: inline-block;
  }
  .sub-list:last-child {
    columns: 1;
  }
}
