.callback-sub-heading {
  color: var(--text-color);
}

.callback-list {
  color: var(--text-color);
  font-size: var(--callback-font-size);
  line-height: calc(var(--callback-font-size) * var(--line-height-ratio));
  font-weight: 600;
}

.callback-list > li {
  padding-left: 2em;
  padding-bottom: 1em;
  background-image: url(../../icons/callback-list-icon.png);
  background-repeat: no-repeat;
  background-position: left top;
}
